* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    transition: all 0.15s ease;
}
body{
    color: #fff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: linear-gradient( to bottom, #D41616, #6C6E79)
}
body::-webkit-scrollbar {
    background-color: #000;
	width: 12px;
}
body::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: #d85454;
}
header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
    padding: 15px;
}
header .list{
    display: flex;
    gap: 20px;

}
header .logo img{
    width: 150px;
    height: 125px;
}
main{
    padding: 30px 20px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font: optional;
    font-size: 17px;
}

main img{
    width: 200px;
    height: 100%;
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

footer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: #000;
    color: #fff;
    font-size: 20px;
    bottom: 0;
    left: 0;
    right: 0;
}
